<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Flights Stats</h4>
      <p class="card-category">some info about the flights</p>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>ID</th>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>S556S</td>
            <td>TLV</td>
            <td>BOS</td>
          </tr>
          <tr>
            <td>2</td>
            <td>LB412</td>
            <td>FCO</td>
            <td>TLV</td>
          </tr>
          <tr>
            <td>3</td>
            <td>M3NB6</td>
            <td>WAR</td>
            <td>TLV</td>
          </tr>
          <tr>
            <td>4</td>
            <td>IS995</td>
            <td>TLV</td>
            <td>MAD</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>