<div>
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=32.083738118953725~34.88777160644531&lvl=11&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
       <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=32.083738118953725~34.88777160644531&amp;sty=r&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
       <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=32.083738118953725~34.88777160644531&amp;sty=r&amp;lvl=11&amp;rtp=~pos.32.083738118953725_34.88777160644531____&amp;FORM=MBEDLD">Get Directions</a>
   </div>
</div>