<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      // This function will run when the page is loaded
      function setWs() {
        socket.on('newdata', function (msg) { // get flights
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
        socket.on('mezegAvir', function (msg) { // get weather
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
    <style>
      .center {
        margin: auto;
        width: 90%;
      }

      body {
        background-image: url("images/plane_background.jpg");
        background-size: cover;
      }

      .map {
        margin-left: 280px;
      }
    </style>
</head>

<body class="center" onload="setWs()">
    <div class="row">
      <!--start-->
      <% cards.forEach(function(card) { %>
        <%- include("../partials/card",card) %>
          <% }); %>
            <!--end-->
    </div>
    <div class="map">
      <%- include("../partials/map") %>
    </div>
    <!-- <%- include("../partials/footer") %> -->
</body>

</html>