<!DOCTYPE html>
<html>


<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    var socket = io.connect();
    function setWs() {
      console.log("in setWs");
      socket.on('connection', (socket) => {
        console.log('a user connected');
      });
      socket.on('flightsIn', function (msg) {
        // var element = document.getElementById(msg.flightLanding);
        // element.innerText = msg.value;
        console.log("in flightsIn")
        var table_body = '<table class="center" border="1" id="example"><thead><tr><th> Flight Id </th><th> Plane Id </th><th> Company </th><th> Source </th><th>Destinition</th><th> Type </th><th> Scheduled TakeOff Time </th><th> Scheduled Landing Time </th><th> Delay Prediction</th></tr></thead><tbody>';
        for (var i = 0; i < msg.length; i++) {
          table_body += '<tr>';
          
          table_body += '<td>';
          table_body += msg[i].flight_id;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].id;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].company;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].src;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].dest;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].type;
          table_body += '</td>';

          var myDate = new Date(msg[i].departure * 1000);
          table_body += '<td>';
          table_body += myDate.toLocaleString();
          table_body += '</td>';

          var myDate = new Date(msg[i].arrival * 1000);
          table_body += '<td>';
          table_body += myDate.toLocaleString();
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].prediction;
          table_body += '</td>';
        }
        table_body += '</tbody></table>';
        $('#tableDiv').html(table_body);//display data of the table
      })
    }
  </script>
  <style>
    table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      text-align: center;
    }

    thead tr {
      background-color: #0072B5;
      color: #ffffff;
      text-align: center;
      font-size: 1.3em;
    }

    th,
    td {
      padding: 12px 15px;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
      font-weight: bold;
      color: #0072B5;
    }

    tbody tr:nth-of-type(even){
      background-color: #f3f3f3;
    }

    tbody tr:nth-of-type(odd) {
      background-color: #00e8fd;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    table.center {
      margin-left: auto; 
      margin-right: auto;
    }

    body {
      background-image: url("images/plane_background.jpg");
      background-size: cover;
    }

    h1 {
      font-size: 70px;
      text-align: center;
      color: #000000;
      font-style: initial;
    }
  </style>
</head>

<body class="" , onload="setWs()">
  <h1>Landing Flights</h1>
  <div id="tableDiv" style="margin-top: 40px"></div>

  
</body>

</html>