<!DOCTYPE html>
<html>


<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    var socket = io.connect();
    function setWs() {
      console.log("in setWs");
      socket.on('connection', (socket) => {
        console.log('a user connected');
      });
      socket.on('flightsOut', function (msg) {
        // var element = document.getElementById(msg.flightLanding);
        // element.innerText = msg.value;
        console.log("in flightsOut")
        var table_body = '<table border="1" id="example"><thead><tr><th> id </th><th> source </th><th>destinition</th></tr></thead><tbody>';
        for (var i = 0; i < msg.length; i++) {
          table_body += '<tr>';

          table_body += '<td>';
          table_body += msg[i].id;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].src;
          table_body += '</td>';

          table_body += '<td>';
          table_body += msg[i].dest;
          table_body += '</td>';

          table_body += '</tr>';
        }
        table_body += '</tbody></table>';
        $('#tableDiv').html(table_body);//display data of the table
      })
    }
  </script>
  <style>
    .content {
      max-width: 1200px;
      margin-right: 100px;
      margin-left: 450px;
    }
  </style>
</head>

<body class="" , onload="setWs()">
  <div id="tableDiv" style="margin-top: 40px"></div>
  <!-- <table>
    <tr>
      <th>flightId</th>
      <th>flightSrc</th>
      <th>flightDes</th>
    </tr>
    <% for (var flight=0; flight < flights.length; flight++) { %>
      <tr>
        <td>
          <%= flights[flight].id %>
        </td>
        <td>
          <%= flights[flight].src %>
        </td>
        <td>
          <%= flights[flight].des %>
        </td>
      </tr>
      <% } %>
  </table> -->
  
</body>

</html>